@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');

body {
  margin: 0;
  font-family: 'Zilla Slab';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: gray;

}

/* This one makes image not wider than article width */
#blogArticleContainer img {
  max-width: 100%;
}

code {
  background-color: rgb(245, 242, 240);
  border-radius: 3px;
  border: rgb(245, 242, 240);;
}
